<h1>TopPage</h1>
<div class="hero-unit" id="hero">
  <h2>
    確かこういうアイコン
  </h2>
  <p>Twitterで普段みてる身近なひとのアイコンをうろ覚えで描いてみるサイトです</p>
  <p><a href="" class="btn btn-primary">描いてみる</a></p>
</div>
<form><input type="text" id="color" name="color" value="#123456" /></form>

<% content_for :head do %>
  <%= stylesheet_link_tag 'farbtastic' %>
  <%= stylesheet_link_tag 'painttest' %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<% end %>

<% content_for :tail do %>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <%= javascript_include_tag 'rgbcolor' %>
  <%= javascript_include_tag 'farbtastic' %>
  <%= javascript_include_tag 'painttest' %>
<% end %>

