<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Provider:</b>
  <%= @user.provider %>
</p>

<div>
  <b>Pictures:</b>
</div>

<div class="pic_album" style="background-color: gold">
  <ul>
    <% @user.pictures.each do |picture| %>
      <li>
        <a href="#">
          <div>
            <%= image_tag picture.image.url(:thumb) %>
            <p><%= picture.filename %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
