<div id="drawbox" class="container-fluid">
  <div id="canvasbox" class="span5">
    <canvas id="main_canvas">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
    <div id="edit_buttons">
      <input type="button" class="btn btn-large" id="undo" value="いまのなし">
      <input type="button" class="btn btn-large" id="restore" value="やっぱあり">
    </div>
    <div id="brush_buttons">
      <input type="radio" name="brush" id="brush1" checked="checked"><label class="brash_label" for="brush1"><img src="/assets/draw/pen1.gif" alt="ブラシ" title="ブラシ"></label>
      <input type="radio" name="brush" id="brush2"><label class="brash_label" for="brush2"><img src="/assets/draw/pen2.gif" alt="ぼかし１" title="ぼかし１"></label>
      <input type="radio" name="brush" id="brush3"><label class="brash_label" for="brush3"><img src="/assets/draw/pen3.gif" alt="ぼかし２" title="ぼかし２"></label>
      <input type="radio" name="brush" id="brush4"><label class="brash_label" for="brush4"><img src="/assets/draw/pen4.gif" alt="パステル" title="パステル"></label>
      <input type="radio" name="brush" id="miter"><label class="brash_label" for="miter"><img src="/assets/draw/penm.gif" alt="角ペン" title="角ペン"></label>
      <input type="radio" name="brush" id="eraser"><label class="brash_label" for="eraser"><img src="/assets/draw/pen0.png" alt="消しゴム" title="消しゴム"></label>
      <input type="radio" name="brush" id="spuit"><label class="brash_label" for="spuit"><img src="/assets/draw/spuit.gif" alt="スポイト" title="スポイト"></label>
    </div>
  </div>
  <div id="colorlist" class="span4">
    <ul id="colorgrid">
      <li style="background-color:#000000"></li>
      <li style="background-color:#1b1b1b"></li>
      <li style="background-color:#313131"></li>
      <li style="background-color:#434343"></li>
      <li style="background-color:#535353"></li>
      <li style="background-color:#626262"></li>
      <li style="background-color:#707070"></li>
      <li style="background-color:#898989"></li>
      <li style="background-color:#959595"></li>
      <li style="background-color:#a0a0a0"></li>
      <li style="background-color:#b5b5b5"></li>
      <li style="background-color:#c9c9c9"></li>
      <li style="background-color:#dcdcdc"></li>
      <li style="background-color:#ffffff"></li>
      <li style="background-color:#ff0000"></li>
      <li style="background-color:#ffff00"></li>
      <li style="background-color:#00ff00"></li>
      <li style="background-color:#00ffff"></li>
      <li style="background-color:#0000ff"></li>
      <li style="background-color:#ff00ff"></li>
      <li style="background-color:#e60012"></li>
      <li style="background-color:#fff100"></li>
      <li style="background-color:#009944"></li>
      <li style="background-color:#00a0e9"></li>
      <li style="background-color:#1d2088"></li>
      <li style="background-color:#e4007f"></li>
      <li style="background-color:#f29b76"></li>
      <li style="background-color:#f6b37f"></li>
      <li style="background-color:#facd89"></li>
      <li style="background-color:#fff799"></li>
      <li style="background-color:#cce198"></li>
      <li style="background-color:#acd598"></li>
      <li style="background-color:#89c997"></li>
      <li style="background-color:#84ccc9"></li>
      <li style="background-color:#7ecef4"></li>
      <li style="background-color:#88abda"></li>
      <li style="background-color:#8c97cb"></li>
      <li style="background-color:#8f82bc"></li>
      <li style="background-color:#aa89bd"></li>
      <li style="background-color:#c490bf"></li>
      <li style="background-color:#f19ec2"></li>
      <li style="background-color:#f29c9f"></li>
      <li style="background-color:#ec6941"></li>
      <li style="background-color:#f19149"></li>
      <li style="background-color:#f8b551"></li>
      <li style="background-color:#fff45c"></li>
      <li style="background-color:#b3d465"></li>
      <li style="background-color:#80c269"></li>
      <li style="background-color:#32b16c"></li>
      <li style="background-color:#13b5b1"></li>
      <li style="background-color:#00b7ee"></li>
      <li style="background-color:#448aca"></li>
      <li style="background-color:#556fb5"></li>
      <li style="background-color:#5f52a0"></li>
      <li style="background-color:#8957a1"></li>
      <li style="background-color:#ae5da1"></li>
      <li style="background-color:#ea68a2"></li>
      <li style="background-color:#eb6877"></li>
      <li style="background-color:#e60012"></li>
      <li style="background-color:#eb6100"></li>
      <li style="background-color:#fff100"></li>
      <li style="background-color:#8fc31f"></li>
      <li style="background-color:#22ac38"></li>
      <li style="background-color:#009944"></li>
      <li style="background-color:#009e96"></li>
      <li style="background-color:#00a0e9"></li>
      <li style="background-color:#0068b7"></li>
      <li style="background-color:#00479d"></li>
      <li style="background-color:#1d2088"></li>
      <li style="background-color:#601986"></li>
      <li style="background-color:#920783"></li>
      <li style="background-color:#e4007f"></li>
      <li style="background-color:#e5004f"></li>
      <li style="background-color:#a40000"></li>
      <li style="background-color:#a84200"></li>
      <li style="background-color:#ac6a00"></li>
      <li style="background-color:#b7aa00"></li>
      <li style="background-color:#638c0b"></li>
      <li style="background-color:#097c25"></li>
      <li style="background-color:#007130"></li>
      <li style="background-color:#00736d"></li>
      <li style="background-color:#0075a9"></li>
      <li style="background-color:#004986"></li>
      <li style="background-color:#002e73"></li>
      <li style="background-color:#100964"></li>
      <li style="background-color:#440062"></li>
      <li style="background-color:#6a005f"></li>
      <li style="background-color:#a4005b"></li>
      <li style="background-color:#a40035"></li>
      <li style="background-color:#7d0000"></li>
      <li style="background-color:#7f2d00"></li>
      <li style="background-color:#834e00"></li>
      <li style="background-color:#8a8000"></li>
      <li style="background-color:#486a00"></li>
      <li style="background-color:#005e15"></li>
      <li style="background-color:#00561f"></li>
      <li style="background-color:#005752"></li>
      <li style="background-color:#005982"></li>
      <li style="background-color:#003567"></li>
      <li style="background-color:#001c58"></li>
      <li style="background-color:#03004c"></li>
      <li style="background-color:#31004a"></li>
      <li style="background-color:#500047"></li>
      <li style="background-color:#7e0043"></li>
      <li style="background-color:#7d0022"></li>
      <li style="background-color:#d1c0a5"></li>
      <li style="background-color:#a6937c"></li>
      <li style="background-color:#7e6b5a"></li>
      <li style="background-color:#59493f"></li>
      <li style="background-color:#362e2b"></li>
      <li style="background-color:#cfa972"></li>
      <li style="background-color:#b28850"></li>
      <li style="background-color:#996c33"></li>
      <li style="background-color:#81511c"></li>
      <li style="background-color:#6a3906"></li>
      <li style="background-color:#fdead6"></li>
      <li style="background-color:#f9d9b8"></li>
      <li style="background-color:#f5cea5"></li>
      <li style="background-color:#f1bf8b"></li>
      <li style="background-color:#eeb477"></li>
    </ul>

    <!--<div id="colorpick">
      <input type="text" id="color" name="color" value="#123456" readonly="readonly" />Color Picker
      <div id="colorpicker"></div>
    </div>-->
    <form><input type="text" id="color" name="color" value="#123456" readonly="readonly" /></form>
    <div id="colorpicker"></div>

  </div>
  <div id="bwbox_width" class="span9">
    ブラシ幅&nbsp;<input type="text" id="bw" value="1" readonly="readonly" />
    <div id="slider"></div>
  </div>
  <div id="bwbox_alpha" class="span9">
    透明度&nbsp;<input type="text" id="alpha" value="100" readonly="readonly" />
    <div id="slider2"></div>
  </div>
  <div id="post_buttons" class="span3 offset5">
    <input type="button" class="btn btn-large" id="clear" value="消去">
    <input type="button"  class="btn btn-large btn-primary" id="save" value="画像で保存">
  </div>
</div>
<div id="slidertest"></div>
<% content_for :head do %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <%= stylesheet_link_tag 'farbtastic' %>
  <%= stylesheet_link_tag 'paint' %>
  <%= stylesheet_link_tag 'painttest' %>
<% end %>

<% content_for :tail do %>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <%= javascript_include_tag 'rgbcolor' %>
  <%= javascript_include_tag 'farbtastic' %>
  <%= javascript_include_tag 'painttest' %>
<% end %>

